# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

/code/*~
/code/*.sw[mnpcod]
/code/.tmp
/code/*.tmp
/code/*.tmp.*
/code/*.sublime-project
/code/*.sublime-workspace
/code/.DS_Store
/code/Thumbs.db
/code/UserInterfaceState.xcuserstate
/code/$RECYCLE.BIN/

/code/*.log
/code/log.txt
/code/npm-debug.log*

/code/.idea
/code/.ionic
/code/.sass-cache
/code/.sourcemaps
/code/.versions
/code/.vscode
/code/coverage
/code/dist
/code/node_modules
/code/platforms
/code/plugins
/code/www
