<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Mahesh Prasad [ mahshvnit ]</ion-list-header>
          <ion-note>maheshvnit.github.io</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-footer style="        text-align: -webkit-center;    ">
          <h3>Let's get connected <span role="img">🔗</span></h3>
          <div style="display: flex;justify-content: space-around;font-size: xxx-large;">
            <div><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/maheshvnit" class="btn btn-light">
              <ion-icon slot="start" ios="logo-linkedin-outline" md="logo-linkedin"></ion-icon>
            </a></div>
            <div><a target="_blank" rel="noopener noreferrer" href="https://github.com/maheshvnit" class="btn btn-light">
              <ion-icon slot="start" ios="logo-github-outline" md="logo-github"></ion-icon>
            </a></div>
          </div>
          <ion-toolbar>                
            <ion-title >Copyright &copy; <span class="yr-cprt">2020</span> Mahesh Prasad</ion-title>
            <ion-title ><small>All Rights Reserved.</small></ion-title> 
          </ion-toolbar>
        </ion-footer>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
